<section class="header">
  <div class="container-fluid py-2">
    <div class="row align-items-center">
      <div class="col-1 text-center">
        <a href=""
          ><img
            src="../../../assets/images/logo-n.svg"
            alt="logo"
            class="img-fluid"
        /></a>
      </div>
      <div class="col-6 logoText">
        <a href="">Northwest Missouri State University</a>
      </div>
      <div class="col-5 text-end">
        <a href="/login" class="btn btn-success">Log Out</a>
      </div>
    </div>
  </div>
</section>
