<div class="myEvents">
    <div class="row justify-content-around">
    <div class="col-6">
        <h4>Manage my Events</h4>
    </div>
    <div class="col-6 text-end">
        <div class="btn btn-info" (click)="openDialog(1)">Create an Event</div>
    </div>
</div>
    <div class="row">
        <div class="col-3" *ngFor="let e of events">
            <mat-card class="example-card" *ngIf="e.createdBy == 'Sai'" >
                <mat-card-header>
                  <mat-card-title>{{e.eventName}}</mat-card-title>
                  <mat-card-subtitle>{{e.eventDescription}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>{{e.location}}</p>
                  <p>{{e.date}}</p>
                  <p>{{e.createdBy}}</p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button (click)="edit(e)">Edit Event</button>
                  <button mat-button>Delete Event</button>
                </mat-card-actions>
              </mat-card>
        </div>
    </div>
</div>